:root {
  --yellow: #ffc600;
  --black: #272727;
}
html {
  /* border-box box model allows us to add padding and border to our elements without increasing their size */
  box-sizing: border-box;
  /* A system font stack so things load nice and quick! */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-weight: 600;
  font-size: 20px;
  color: var(--black);
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.07);
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: url('chicken_veg.png'), linear-gradient(110deg, #c51414, #d72d68);
  background-size: 100%, auto;
  font-family: sans-serif;
  min-height: calc(100vh - 100px);
  margin: 50px;
  background-attachment: fixed;
  letter-spacing: -1px;
}
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px;
}

a {
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.2);
  padding: 10px 5px;
  display: inline-block;
  width: 100%;
  text-align: center;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
}

a:hover {
  background: rgba(0, 0, 0, 0.3);
}
.flex-nav ul {
  border: 1px solid black;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  text-align: center;
  align-items: center;
  flex: au;
}

.highlight {
  transition: all 0.5s;
  border-bottom: 2px solid white;
  position: absolute;
  top: 0;
  background: white;
  left: 0;
  z-index: -1;
  border-radius: 20px;
  display: block;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.flex-nav li {
  flex: 3;
}

.flex-nav .social {
  flex: 1;
}
@media all and (max-width: 1000px) {
  .flex-nav ul {
    flex-wrap: wrap;
  }
  .flex-nav li {
    flex: 1 1 50%;
  }
  .flex-nav .social {
    flex: 1 1 25%;
  }
}

@media all and (max-width: 500px) {
  .flex-nav li {
    flex-basis: 100%;
  }
}

.item .price {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-items: end;
  align-items: center;
  /* border: 5px solid tomato; */
  /* border-radius: 3px; */
  font-size: 20px;
  background-color: var(--yellow); /* best colour */
}
.item .main {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: start;
  align-items: center;
  /* border: 5px solid rgba(0, 0, 0, 0.03); */
  border-radius: 3px;
  font-size: 20px;
  background-color: var(--yellow); /* best colour */
}
.item {
  /* We center the contents of these items. You can also do this with flexbox too! */
  display: grid;
  justify-content: center;
  align-items: center;
  /* border: 5px solid rgba(0, 0, 0, 0.03); */
  border-radius: 3px;
  font-size: 20px;
  background-color: var(--yellow); /* best colour */
}

.item p {
  margin: 0 0 5px 0;
}

h1 {
  color: tomato;
  margin: 0 0 5px 0;
}

h2 {
  color: var(--yellow);
}

.container {
  display: grid;
  /* display: flex; */
  flex-wrap: wrap;
  /* align-items: center; */
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-template-rows: repeat(3, auto);
  border: 20px solid tomato;
  justify-content: space-around;
  align-content: flex-start;
}

.beef,
.chicken,
.pork,
.vegetarian,
.soup,
.rice,
.noodles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  grid-template-rows: auto;
  border: 5px solid purple;
  grid-template-areas:
    'header header header header'
    'main main smallprice largeprice';
}
.entree,
.drinks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1px;
  grid-template-rows: auto;
  border: 5px solid purple;
  grid-template-areas:
    'header header header '
    'main main price';
}

.header {
  grid-area: header;
  display: grid;
  justify-content: center;
  border: 6px solid blue;
  align-self: start; /*this gets the header sitting right at the very top!*/
}

.main {
  grid-area: main;
  /* border: solid 10px tomato; */
  /* display: flex; */
  flex-direction: column;
}
.price {
  grid-area: price;
  /* border: solid 10px black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.smallprice {
  grid-area: smallprice;
  /* border: solid 10px black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.largeprice {
  grid-area: largeprice;
  /* border: solid 10px black; */
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/* cyrillic */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/amaticsc/v15/TUZyzwprpvBS1izr_vOEDuSfU5cP1V3r.woff2)
    format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* hebrew */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/amaticsc/v15/TUZyzwprpvBS1izr_vOECOSfU5cP1V3r.woff2)
    format('woff2');
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F;
}
/* vietnamese */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/amaticsc/v15/TUZyzwprpvBS1izr_vOEBeSfU5cP1V3r.woff2)
    format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/amaticsc/v15/TUZyzwprpvBS1izr_vOEBOSfU5cP1V3r.woff2)
    format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Amatic SC';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/amaticsc/v15/TUZyzwprpvBS1izr_vOECuSfU5cP1Q.woff2)
    format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
